body {
	background: #333;
	color: #fff;
}

h1 {
	color: #1E90FF;
	margin-bottom: 1em;
}

a, a:hover, a:visited {
	color: #1E90FF;
	text-decoration: none;
}

#commits {
	list-style: none;
	width: 500px;
}

#commits li {
	margin-bottom: 10px;
}

#commits img {
	height: 40px;
	border-radius: 4px;
	box-shadow: 0 0 3px #1E90FF;
	float: left;
}

#commits a {
	background: #444;
	padding: 5px;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    line-height: 30px;
    margin-left: 10px;
}

#commits a:hover {
	background: #555;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}