body {
	background: #fff;
	color: #033;
	font: 13px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
	color: #1E90FF;
	margin-bottom: 1em;
}

a, a:hover, a:visited {
	color: #1E90FF;
	text-decoration: none;
}

#authors {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#authors li {
	display: inline;
}

#authors img {
	margin-right: 10px;
	height: 40px;
	width: 40px;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
	float: left;
}

#authors img:hover {
	box-shadow: 0 0 3px #1E90FF;
}

.clear {
	clear: both;
}
