<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Open Science Lab</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script>
			$(function () {
				$.getJSON('https://api.github.com/repos/opensciencelab/opensciencelab.github.io/commits?path={{page.filename}}', function(data) {
					 $.each(data, function(idx, commit) {
					 	var avatar_url = "";

					 	if (commit.author) {
					 		avatar_url = commit.author.avatar_url;
					 	}
					 	
				 		$("#commits").append("<li><img src=\"" + avatar_url + "\"> <a href=\"" + commit.html_url + "\">" + commit.commit.message + "</a></li>");
					});	
				});
			});
		</script>
	</head>
	<body>
	<h1>Open Science Lab</h1>
	{{ content }}
	<h1>History</h1>
	<ul id="commits"></ul>
	</body>
</html>