<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Open Science Lab</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script>
			$(function () {
				$.getJSON('https://api.github.com/repos/opensciencelab/opensciencelab.github.io/commits?path={{page.filename}}', function(data) {
					authorHash = {};

					$.each(data, function(i, commit) {
					 	if (commit.author) {
					 		var login = commit.author.login;

					 		if ( authorHash[login]) {
					 			 authorHash[login].count += 1;
					 		} else {
					 			 authorHash[login] = commit.author;
					 			 authorHash[login].count = 1;
					 		}
					 	}
					});	

	

					var authors = [];

					for (var login in authorHash) {
					    authors.push(authorHash[login]);
					}

					authors.sort(function (a,b) {
						return a.count < b.count;
					});

					$.each(authors, function (i, author) {
						console.log(author);
						$("#authors").append("<li><a title=\"" + author.count + "\" href=\"" + author.html_url + "\"><img src=\"" + author.avatar_url + "\"/></a></li>");
					});
				});
			});
		</script>
	</head>
	<body>
	<h1>Open Science Lab</h1>
	{{ content }}
	<h1>Autoren</h1>
	<ul id="authors"></ul>
	</body>
</html>